#error {
    display:none;
}

html {
    background: #F1F1F1 url("/static/images/wrap_noise_bck.jpg") repeat;
    
	
}

* {
	font-family:Helvetica !important;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.selectable {
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-o-user-select: text;
user-select: text;
}

body {
    background:none;
    text-rendering: optimizeLegibility;

}


#console {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:42px;
	overflow:hidden;

}


#console #toolbar {
	height:42px;
	background: url(/static/images/bg_body.jpg);
}

#console #display {
	background:#000;
	min-height:200px;
	
}


#console #display ul li {
	list-style:none;
}


.container {
	position: initial;
}


#content_area {
	padding-bottom:48px;
	
}

#package-list {
	max-height:500px;
	min-height:150px;
	height:auto;
	overflow-y:scroll;
	overflow-x:hidden;
	
	
}

#package-controls {
	float:right;
	display:inline-block;
}

#package-controls span {
	height:24px;
	display:inline-block;
	padding:0 6px;
	cursor:pointer;
}


#clear,
.clear {
	clear:both;
}

.indent {
	padding:12px;
}

.etch {
	height:0px;
	display:block;
	border-bottom:1px solid #ffffff;
	border-top:1px solid #ccc;
}


.ui-panel {
    
    height:42px;
    
    padding:0;
    display:block;
    list-style:none;

}

#adminbar.top {
	position:relative;
    top:0px;
    left:0px;
    right:0px;
	margin:0px 0px 48px 0px;
}


.ui-panel ul.gradient  {
    margin:0;
	padding-left:0px;
	padding-right:0px;
	height:42px;
	display:block;
    -moz-box-shadow: 0px 1px 2px #565656 , inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 2px #565656, inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 2px #565656 , inset 0px 1px 0px rgba(255, 255, 255, 0.5);
	background: url(/static/images/bg_body.jpg);
}


.ui-panel ul.gradient li {
    float:left;
    height:42px;
	
    /*border-right: 1px solid #bbb;*/
	position:relative;
	margin-bottom:0px;
	margin-left:24px;
	text-align:center;
}


.ui-panel ul.gradient li.last {
	float:right;
	padding-right:12px;
}

.ui-panel ul.gradient li#logo {
	width: auto;
	padding-left: 12px;
	padding-right: 12px;
	font-weight:bold;
}

.ui-panel ul.gradient li#logo-button img {
	width:auto;
	height:38px;
	padding-top:2px;
	padding-bottom:2px;
}

.ui-panel ul.gradient li.selected {
	color:#eaeaea;
}

.ui-panel ul.gradient li.adminbutton {
	cursor:pointer;
}

.ui-panel ul.gradient li.last {


}

.ui-panel ul.gradient li:active {


}

.ui-panel ul.gradient li.selected a span {
	color:#7EB6FF;
}

.ui-panel ul.gradient li a,
.ui-panel ul.gradient li a:visited {
    
    height:100%;
    width:100%;
    display:inline-block;
    color:#eaeaea;
    text-shadow:0px 1px 0px #000;  
	cursor:default
}

.ui-panel ul.gradient li a:hover {
    color:#7EB6FF;
    
}
.ui-panel ul.gradient li a span {
    font-size:1.0em;
    font-weight:bold;
	height:42px;
	line-height:42px;
    display:inline-block;

}



/* dashboard */


.statusbox {
	position:relative;
    min-height:145px;
    margin-bottom:12px;
    margin-top:12px;
}

.statusbox span.text {
    color:#000;
	text-shadow:0px 1px 0px #fff;
    position:absolute;
    top:-25px;
    left:12px;
	background:none;
	font-size:1.1em;
}

div.statusbox div.stat-list {
	margin-bottom:12px;
	margin-top:12px;
	background:  #fcfcfc;
	
	color: #333;
	font-weight:bold;
    padding: 6px 15px 4px 15px;

    
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	
	
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
}

div.statusbox div.stat-list span.value {
	float:right;
	color:000;
	font-weight:normal;
}

#packagegrid {
	height:500px;
}


/* builder lists */

#builder-list {

}

#builder-list .builder-node {
	height:64px;
	position:relative;
	
	margin:12px 0px;
	padding-left:30px;
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #cacaca;
    	
    -moz-box-shadow: 0px 1px 1px #777 , inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 1px #777, inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 1px #777 , inset 0px 1px 0px rgba(255, 255, 255, 0.5);
}

#builder-list .builder-node .state { 
	display: block;
	position:absolute;
	top:24px;
	left:12px; 

	width: 12px; 
	height: 12px; 
	content:''; 

	background-color: #666; /* temporary, will be overwritten */ 
	border-top: 1px solid rgba(255,255,255,0.8);
	-moz-border-radius: 100px; 
	-webkit-border-radius: 100px; 
	border-radius: 100px; 
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.8); 
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.8); 
	box-shadow: 0 0 2px rgba(0,0,0,0.8); 
	background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.38)));
	background-image: -moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.38) 0%, rgba(255,255,255,0) 100%); 
	background-image: -webkit-radial-gradient(top, ellipse cover, rgba(255,255,255,0.38) 0%, rgba(255,255,255,0) 100%); 
	background-image: radial-gradient(top, ellipse cover, rgba(255,255,255,0.38) 0%, rgba(255,255,255,0) 100%);
}

#builder-list .builder-node .state.disconnect { 
	background-color: #D10A11;
}

#builder-list .builder-node .state.building { 
	background-color: #F6D200;
}

#builder-list .builder-node .state.idle { 
	background-color: #43C532;
}


#builder-list .builder-node .name {
	
	position:absolute;
	
	top:12px;
	left:40px;

	font-weight:bold;
    text-shadow:0px 1px 0px #fff;  
}


#builder-list .builder-node .detail {
	
	position:absolute;
	
	top:34px;
	left:40px;

    text-shadow:0px 1px 0px #fff;  
}

#builder-list .builder-node .arch {
	
	position:absolute;
	
	top:22px;
	right:12px;
	
    text-shadow:0px 1px 0px #fff;  
}


/* system config pages */

div.boxheader {
	text-shadow:rgba(255, 255, 255, 0.8) 0 1px 0;
	background: #D9D9D9;
	background: -moz-linear-gradient(bottom,#D7D7D7,#E4E4E4);
	background: -webkit-gradient(linear,left bottom,left top,from(#D7D7D7),to(#E4E4E4));
	height:20px !important;
	padding-top: 6px;
	padding-left:12px;
	font-size: 12px;
	font-weight:bold;
	border-bottom: #C6C6C6 1px solid;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;	
}

div.boxheader div {
	float:left;
	height:20px;
	font-weight:bold;
}



