<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  	================================================== -->

	<title>PlugBuild</title>

	<meta charset="utf-8">
	<meta name="description" content="">
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="Arch Linux ARM">

	<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


	<!-- CSS
  	================================================== -->
	
	<link rel="stylesheet" href="/static/stylesheets/plugbuild.css">	
	<link rel="stylesheet" href="/static/stylesheets/ext-all-scoped.css">
	<!-- JS Libraries
  	================================================== -->
	
	<script src="/static/javascripts/jquery-1.7.1.js"></script>
	<script src="/static/javascripts/jquery.sparkline.min.js"></script>
	<script type="text/javascript" src="/static/javascripts/d3.v2.js"></script>
	<script type="text/javascript" src="/static/javascripts/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/javascripts/jquery.event.drag-2.0.min.js"></script>

	
	<script src="/static/javascripts/socket.io.js"></script>


	<script src="/static/javascripts/underscore-min.js"></script>
    <script src="/static/javascripts/backbone-min.js"></script>

	
	
	<!-- Client code 
	  	================================================== -->
	
	<script src="/static/app/AdminBar.js"> </script>

	<script src="/static/app/DashboardView.js"> </script>

	<script src="/static/app/PackagesView.js"> </script>
	<script src="/static/app/Packages.js"> </script>
	
	<script src="/static/app/ConsoleView.js"> </script>
	<script src="/static/app/ConsoleMessages.js"> </script>

	<script src="/static/app/BuilderView.js"> </script>
	<script src="/static/app/Builders.js"> </script>


	<script src="/static/app/SettingsView.js"> </script>
	<script src="/static/app/StatusView.js"> </script>
	
	<script src="/static/app/PlugBuild.js"> </script>

	<!-- this is the entry point for the backbone app -->
	<script src="/static/app/main.js"></script>
	
	
	
</head>
<body>

<div id="app">

	<div id="adminbar" class="top ui-panel">    </div>

	<div id="wrap">
	
		<div id="content-area" class="container">   </div>
	
		<div id="sidebar" class="container">   </div> 
	
	</div>
	
	
	<div id="console-container"></div>
</div>
	
	<!-- templates -->
	
	<script type="text/template" id="console-template">
	
		<div id="console-display">
			<ul id="console-list">
			
			</ul>
		</div>

		<ul id="console-toolbar" class="gradient"> 

			<li id="console-button" class="first adminbutton">
				
				<input id="command-field" type="text"/>
				
			</li>

			<li  class="adminbutton last">
				
					<img id="reveal-button" src="/static/images/icon_arrow_up.png"/>
				
				
			</li>		
		
		</ul>
					
	</script>
	
	
	<script type="text/template" id="adminbar-template">

			<li id="logo-button" class="first adminbutton">
				<a href="">
					<img id="logo" src="/static/images/alarm.png"/>
				</a>
			</li>
	
			
			<li class="adminbutton last">
				<a href="javascript:">
					<span id="username-field"></span>
				</a>
				
			</li>
			
	</script>
    
	<script type="text/template" id="builder-template">
		<ul id="builder-list"></ul> 
	</script>
	
	<script type="text/template" id="status-template">
		<div id="cpu-chart" width="300px" height="300px" class="two-thirds column statusbox"></div>

	
	</script>
		
	<script type="text/template" id="packages-template">

			<div id="package-list">

			
			</div>
			
			<!-- <div id="package-controls">
			<div class="etch"></div>
				<span id="previous-button">⬇</span>
				<span id="current-index"></span>
				<span id="next-button">⬆</span>
			</div> -->
	
		<!-- <div class="statusbox">
			<div>Total: <span id="number-all-packages"></span></div>
			<div>Waiting: <span id="number-waiting-packages"></span></div>
			<div>Failed: <span id="number-failed-available"></span></div>
			
		</div>-->
	</script>
	
	<script type="text/template" id="settings-template">

	</script>
	
	
 <script src="/static/javascripts/ext-all.js"></script>


</body>
</html>
